:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-synthesis: none;
  line-height: 1.5;
  text-rendering: optimizelegibility;
  background-color: #242424;
}

body {
  min-height: 100vh;
  margin: 0;
  font-size: 1.6rem;
}

a {
  color: unset;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #ffffff;
  }
}
